/vendor
/node_modules
.env
.idea
.vscode
/storage/*.key
/storage/framework/cache/data
/storage/logs
processeshubris.txt
# Ignore media files but keep the directory
/public/presentation/medias/*
!/public/presentation/medias/.gitkeep

/public/presentation/images/*
!/public/presentation/images/.gitkeep
