/vendor
/node_modules
.env
.idea
.vscode
/storage/*.key
/storage/framework/cache/data
/storage/logs
processeshubris.txt
# Ignore media files but keep the directory
/public/presentations/medias/*
!/public/presentations/medias/.gitkeep

/public/presentations/images/*
!/public/presentations/images/.gitkeep
